/* site.css */

.policy form{
	margin-left: 15px;
}

.policy ol li {
	list-style-type:upper-roman;
	font-size:  1.75rem;
}

.policy ol>ol li{
	list-style-type:upper-alpha;
	font-size: 1rem;
}

.policy ol>ol>ol li {
	list-style-type:lower-alpha;
	
}

ol.policies-alternate{
	list-style-type: upper-alpha;
}

ol.policies-alternate ol{
	list-style-type: decimal;
}

ol.policies-alternate ol ol{
	list-style-type: lower-alpha;
}