

.policyYear {
	padding: 3px;
	background: #f8f6f3;
	border: none;

	font-style: italic;
	margin: 0.3em 0;
    font-size: 0.9em;
}

/* Policies in the sidebar */
.policy.mod>ol {
	padding-left: 2em;
}

.policy.mod>ol>ol {
	margin-left: 0.5em;
}

.return-link {
	float: right !important;
	clear: both !important;
}

.module.twitter {
	border: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	background: none;
}

.twitter-timeline {
	min-width: 100%;
	display: block;
}
.who-does-what-section .colgroup{
	position: relative;

}
.who-does-what-section p span {
	font-weight: bold;
}

.who-does-what-section-tags{
	display: block;
	clear: both;

	margin-top: 20px;
}

.who-does-what-section-tags p{
	margin: 0;
	padding: 0;
}

.who-does-what {
	word-wrap:break-word; 
	max-height: 200px; 
	overflow-y: auto;
}

.who-does-what h3, h4 {
	margin: 0 0 10px 0;
	color: #222222;
}

.who-does-what h4 {
	padding-top: 7px;
}

.who-does-what p {
	margin: 0;
	padding: 0;
}

.who-does-what.additional-info {
	padding-bottom: 40px;

}

img.additional-info-fade {
	position: absolute;
	bottom: 0;
	right: 0;
}

#sidebar-tags nav ul {
	padding-left: 0;
}

#sidebar-tags nav ul li {
	background-color: #f8f6f3;
	padding: 0;
	margin: 0;
	display: list-item;
}

#sidebar-tags nav ul li a {
	border-bottom: 1px solid #ddd;
	color: #333;
	display: block;
	padding: 2px 0 2px 15px;
	background-color: #f8f6f3;
	margin: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#sidebar-tags nav ul li a:hover {
	background-color: #000;
	color: #fff;
}

#sidebar-tags nav ul li a span {
	display: none;
}

#sidebar-tags h3 {
	margin-left: 10px;
}

.who-does-what-selected-tag a {
	font-size: 1.25rem;
}

.policies_list li a[href^="http"] {
	background-image: url(../images/external_link.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
}

/* escape button */

#exit {
	display: none;
	@media (min-width: $break-large) { 
		display: block;
		background: url('../images/exit.gif') top;
		position: fixed;
		width:65px;
		height: 196px;
		top:45%;
		z-index: 101;
	}

}

#exit:hover {
	background-position: bottom; 
	cursor: pointer;
}