.footer-logo-area {
	border-top: 1px solid #ddd;
	padding: 20px 0;
	font-size: 15px;
	p{
		margin: 0.6667em 0;
	}

}

.footer-logo-area__logo{
	max-height: 160px;
	display: block;
	margin: auto;
}

#mc_embed_signup form {
	padding: 0;
	width: 280px;
}

#mc_embed_signup input {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
#mc_embed_signup .clear{
	clear: none;
	display: inline;
	float: none;
}
/* site.css */

.policy form {
	margin-left: 15px;
}

.policy a[href^="http://"]:after{
	@include fa-icon();
	padding-left: 5px;
	content: $fa-var-external-link;
}

.policy ol li {
	list-style-type: upper-roman;

}

.policy ol > ol li {
	list-style-type: upper-alpha;

}

.policy ol > ol > ol li {
	list-style-type: lower-alpha;
}

ol.policies-alternate {
	list-style-type: upper-alpha;
}

ol.policies-alternate ol {
	list-style-type: decimal;
}

ol.policies-alternate ol ol {
	list-style-type: lower-alpha;
}

ol.policies-alternate ol ol ol {
	list-style-type: lower-roman;
}

ol.policies-alternate ol ol ol ol {
	list-style-type: lower-alpha;
}

ol.policies-alternate ol ol ol ol ol {
	list-style-type: decimal;
}

.policy-archive-notice{
	font-style: italic;
	font-size: 13px;
	background: #eee;
	padding: 5px;
}

/* Accordion List Styles */
.accordion-content ul {
    margin-left: 1.75rem;
    & ul {
        list-style: circle;
        & ul {
            list-style: square;
        }
    }
}
.accordion-content ol {
    margin-left: 1.75rem;
    & ol {
        list-style: lower-alpha;
        & ol {
            list-style: lower-roman;
        }
    }
}